/* Importation des fonts */
@font-face {
    font-family: "Alata";
    src: url(../fonts/Alata-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Josefin Sans";
    src: url(../fonts/JosefinSans-Light.ttf);
    font-weight: 300;
}


html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Josefin Sans";
    background-color: #dfd4d4;


}

img,
input {
    width: 100%;
}

#logo {
    padding: 1rem;
    color: #e9e9f3;
    letter-spacing: 0.3rem;
    font-family: "alata";
    font-weight: 600;

}


/* header */
nav {
    min-width: 100%;
    position: fixed;
    max-width: 1920px;
    height: 2.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav label img {
    width: 1.7rem;
    padding: 0.3rem;
    cursor: pointer;
    display: flex;
}

#burger {
    display: none;
}

#burger:checked~#navbar {
    transition: all 0.7s;
    max-height: 600px;
}

#navbar {
    position: absolute;
    top: 2.5rem;
    background-color: #bebebe00;
    width: 100%;
    margin: 0;
    padding: 0rem;
    max-height: 0px;
    overflow: hidden;
}

#navbar li {
    margin: 0;
    padding: 0.3rem 0 0.3rem 1rem;
    list-style: none;
}



ul {
    padding-inline-start: 0;
}







nav:hover {
    transition: all 0.7s;
    background-color: rgba(0, 0, 0, 0);
}


#about {
    max-width: 1920px;
    margin: 0 auto;
}

#navbar a {
    text-decoration: none;
    font-size: 1em;
    color: white;
    padding: 0.3rem 1.3rem;
    font-family: "alata";
    font-weight: 300;

}

#navbar li:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

h1 {
    color: white;
    font-size: 30px;
    font-family: Alata;
    font-weight: 700;

}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./image-hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    max-width: 1920px;
    height: 77vh;

}




.logoHeader h1 {
    color: white(143, 33, 33);
    font-size: 1em;
    font-family: "JosefinSans-Light";

    font-weight: 300;
}

.logoHeader {
    color: white;
    font-size: 1.5em;
    padding: 0.3rem 1.3rem;

    text-decoration: none;
    border: 2px solid white;
}

.logoHeader h1>a:hover {
    background-color: rgb(136, 136, 136);
}

/* main */

#about
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}








.sectionTitle {
    text-align: center;
    margin: 3rem 0;
    font-weight: 200;
    color: rgb(160, 35, 35);
    font-size: 3em;
}

#about {
    background-color: white(175, 99, 99);
    color: white;
}

.aboutContent {
    width: 90vw;
    margin: 0 auto;
    font-size: 1.2em;
    line-height: 2em;
}

.card {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
}

.cardtext {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
}

.cardimg {
    width: 80%;
    display: flex;
    align-items: center;
}







footer {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 3rem 0;
    font-size: 1.7rem;
    color: white;
    background-color: black;
}

footer a {
    color: white;
    text-decoration: none;

}

.footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer-icons img {
    margin: 2rem;
    /* Ajoutez une marge horizontale entre les icônes */
    max-width: 30px;
    padding-bottom: 1rem;


}


#icon-close {
    display: flex;
}



.visible {
    display: block;
}

.invisible {
    display: none;
}

@media screen and (min-width: 376px) {
    nav label {
        display: flex;
    }

    #navbar {
        position: static;
        max-height: fit-content;
        display: flex;
        background-color: black;
    }

    /* header */
    header {
        height: 55vh;
    }

    /* main */
    #tabs-1,
    #tabs-2,
    #tabs-3,
    .aboutContent .restaurant .formContact .contactBtn {
        width: 70vh;
    }





}