div {
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
  }
  #parent {
    background-color: aqua;
  }
  
  #enfant1 {
    background-color: blue;
  }
  
  #enfan2 {
    background-color: beige;
  }